<section >
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-12 mb-5 mb-lg-0">
              <div class="benefits-desc-1">
                  <div class="ot-heading">
                      <span>[ our benefits ]</span>
                      <h2 class="main-heading">Ambitious Studio  with a Successful  Concept & Ideas</h2>
                  </div>
                  <div class="ot-button">
                      <a href="portfolio-masonry.html" class="octf-btn octf-btn-light border-hover-light">View Projects</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-12">
              <div class="row">
                  <div class="col-lg-6 col-md-6 mb-5 mb-md-0">
                      <div class="icon-box icon-box--classic icon-box--icon-top s-light">
                          <div class="icon-main"><span class="ot-flaticon-sphere"></span></div>
                          <div class="content-box">
                              <h5><a href="#" class="title-link">Customer Focus</a></h5>
                              <p>Customers choose us for the simplicity of communication and an understanding of what it’s necessary to receive in the end.</p>
                          </div>
                      </div>
                      <div class="d-none d-md-block space-70"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-5 mb-md-0">
                      <div class="icon-box icon-box--classic icon-box--icon-top s-light">
                          <div class="icon-main"><span class="ot-flaticon-measure"></span></div>
                          <div class="content-box">
                              <h5><a href="#" class="title-link">Professionalism</a></h5>
                              <p>We develop a full cycle of project documentation: an outline sketch, a design project, working documentation.</p>
                          </div>
                      </div>
                      <div class="d-none d-md-block space-70"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-5 mb-md-0">
                      <div class="icon-box icon-box--classic icon-box--icon-top s-light">
                          <div class="icon-main"><span class="ot-flaticon-home"></span></div>
                          <div class="content-box">
                              <h5><a href="#" class="title-link">Multi Experience</a></h5>
                              <p>We provide a wide range of services, we work in different styles,  we project commercial and residential properties.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="icon-box icon-box--classic icon-box--icon-top s-light">
                          <div class="icon-main"><span class="ot-flaticon-house"></span></div>
                          <div class="content-box">
                              <h5><a href="#" class="title-link">Author`s Supervision</a></h5>
                              <p>We develop an attractive and convenient space for work and leisure time, working on units, selecting materials, manufacturers. </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
