<div class="footer-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-12 mb-4 mb-lg-0">
              <p>Copyright © 2020 Theratio by <a class="text-light" href="#">ThemeModern</a>. All Rights Reserved.</p>
          </div>
          <div class="col-lg-5 col-md-12 align-self-center">
              <ul class="icon-list-items inline-items justify-content-lg-end">
                  <li class="icon-list-item inline-item">
                      <a href="#"><span class="icon-list-text">Terms of use</span></a>
                  </li>
                  <li class="icon-list-item inline-item">
                      <a href="#"><span class="icon-list-text">Privacy Environmental Policy</span></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
