
<section class="progress-studio">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center mb-5 mb-xl-0">
              <div class="circle-progress tbottom text-light" data-color="#939393" data-height="2" data-size="165" data-processed="true">
                  <div class="inner-bar" data-percent="75"><span><span class="percent">0</span>%</span></div>
                  <h4>interior sketch</h4>
                  <p class="main-color-stext">All kinds of buildings in chematic or working design</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center mb-5 mb-xl-0">
              <div class="circle-progress tbottom text-light" data-color="#939393" data-height="2" data-size="165" data-processed="true">
                  <div class="inner-bar" data-percent="50"><span><span class="percent">0</span>%</span></div>
                  <h4>3D MODELING</h4>
                  <p class="main-color-stext">Studio provides a full range of 3D interior modeling</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center mb-5 mb-md-0">
              <div class="circle-progress tbottom text-light" data-color="#939393" data-height="2" data-size="165" data-processed="true">
                  <div class="inner-bar" data-percent="75"><span><span class="percent">0</span>%</span></div>
                  <h4>ROOM MEASUREMENT</h4>
                  <p class="main-color-stext">Development of iperfect design of the project</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center">
              <div class="circle-progress tbottom text-light" data-color="#939393" data-height="2" data-size="165" data-processed="true">
                  <div class="inner-bar" data-percent="85"><span><span class="percent">0</span>%</span></div>
                  <h4>2D PLANNING</h4>
                  <p class="main-color-stext">We provide 2D planning for great visualization</p>
              </div>
          </div>
      </div>
  </div>
</section>
