
<header id="site-header" class="site-header header-static">
  <!-- Main Header start -->
  <div class="header-desktop">
      <div class="top-header">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="top-info">
                          <h6>Visit Us Daily:</h6>
                          <p>Saudi Arabia</p>
                      </div>
                  </div>
                  <div class="col-lg-4 text-center">
                      <div class="top-logo">
                          <a routerLink="home">
                              <img src="" alt="">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="top-info text-right">
                          <h6>Phone Us:</h6>
                          <p>+100000000000</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="main-header-s2 is-fixed">
          <div class="container">
              <div class="octf-main-header">
                  <div class="octf-area-wrap">
                      <div class="container-fluid octf-mainbar-container">
                          <div class="octf-mainbar">
                              <div class="octf-mainbar-row octf-row">
                                  <div class="octf-col logo-col no-padding">
                                      <div class="octf-sidepanel octf-cta-header">
                                          <div class="site-overlay panel-overlay"></div>
                                          <div id="panel-btn" class="panel-btn octf-cta-icons">
                                              <i class="ot-flaticon-menu"></i>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="octf-col menu-col no-padding">
                                      <nav id="site-navigation" class="main-navigation">
                                          <ul class="menu">
                                              <li class="current-menu-item current-menu-ancestor">
                                                  <a href="/home">Home</a>
                                              </li>
                                              <li><a href="/about">About</a>
                                              </li>
                                              <li><a href="/portfolio">Portfolio</a>
                                              </li>
                                              <li><a href="/contact">Contacts</a></li>
                                          </ul>
                                      </nav>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header_mobile">
      <div class="container-fluid">
          <div class="octf-mainbar-row octf-row">
              <div class="octf-col">
                  <div class="mlogo_wrapper clearfix">
                      <div class="mobile_logo">
                          <a href="/home">
                              <img src="assets/images/logo.svg" alt="Theratio">
                          </a>
                      </div>
                  </div>
              </div>
              <div class="octf-col justify-content-end">
                  <div class="octf-search octf-cta-header">
                      <div class="toggle_search octf-cta-icons">
                          <i class="ot-flaticon-search"></i>
                      </div>
                      <!-- Form Search on Header -->
                      <div class="h-search-form-field collapse">
                          <div class="h-search-form-inner">
                              <form role="search" method="get" class="search-form">
                                  <input type="search" class="search-field" placeholder="SEARCH..." value="" name="s">
                                  <button type="submit" class="search-submit"><i class="ot-flaticon-search"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="octf-menu-mobile octf-cta-header">
                      <div id="mmenu-toggle" class="mmenu-toggle">
                          <button><i class="ot-flaticon-menu"></i></button>
                      </div>
                      <div class="site-overlay mmenu-overlay"></div>
                      <div id="mmenu-wrapper" class="mmenu-wrapper on-right">
                          <div class="mmenu-inner">
                              <a class="mmenu-close" href="#"><i class="ot-flaticon-right-arrow"></i></a>
                              <div class="mobile-nav">
                                  <ul id="menu-main-menu" class="mobile_mainmenu none-style">
                                      <li class="current-menu-ancestor">
                                          <a href="/home">Home</a>
                                      </li>
                                      <li class=""><a href="/about">About</a>
                                      </li>
                                      <li class="menu-item-has-children"><a href="/portfolio">Portfolio</a>
                                      </li>
                                      <li><a href="/contacts">Contacts</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
