<section class="p-0 bg-dark-theratio">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 align-self-center">
              <div class="about-img-2">
                  <img src="https://via.placeholder.com/943x827.png" alt="">
              </div>
          </div>
          <div class="col-lg-6 align-self-center">
              <div class="about-content-2 ml-xl-70">
                  <div class="ot-heading">
                      <span>[ about company ]</span>
                      <h2 class="main-heading text-light">Our Philosophy in Simply  and Quality Design</h2>
                  </div>
                  <div class="ot-tabs tabs-light">
                      <div id="tab-3" class="tab-content">
                          We call our style ‘live minimalism’. Live minimalism is not about a 'wrap' or visual look. It refers to inner feelings, to your true self. The place you are comfortable to live in.
                          <ul>
                              <li>Beginning Our Services, 2006</li>
                              <li>Offering More Services, 2008</li>
                              <li>Opening Our First Branch Office, 2009</li>
                              <li>Expansion and Transformations, 2011</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="cta-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Your Dream House</h2>
              <p>Original design project of high quality raises profit – this is proved in practice by many of our customers.</p>
              <div class="ot-button">
                  <a href="contact.html" class="octf-btn octf-btn-light border-hover-light">get in touch</a>
              </div>
          </div>
      </div>
  </div>
</section>
