<section class="p-0 bg-dark-theratio">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 align-self-center">
              <div class="about-img-2">
                  <img src="assets/images/HOME.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-6 align-self-center">
              <div class="about-content-2 ml-xl-70">
                  <div class="ot-heading">
                      <span>[ about company ]</span>
                      <h2 class="main-heading text-light">Our Philosophy in Simply  and Quality Design</h2>
                  </div>
                  <div class="ot-tabs tabs-light">
                      <div id="tab-3" class="tab-content">
                        Leo Interior Design and Contracting was established in Saudi Arabia, RIYADH to provide fully comprehensive interior design and contracting services to all types of buildings whether a new build or a refurbishment. Leo employs dedicated, trained professional staff with a wealth of experience across the range of services enabling us to meet and exceed client expectations.
                          <ul>
                              <li>Beginning Our Services, 2009</li>
                              <li>Conceptual design or interior design</li>
                              <li>Presentations including computer generated 3D walk through models Detailed construction drawings
                                Contracting
                                </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="cta-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2><span class="design">DESIGN</span> <span class="based-on"><div>BASED</div> <div>ON</div></span> <span class="your-style">YOUR STYLE</span></h2>
              <p>Original design project of high quality raises profit – this is proved in practice by many of our customers.</p>
              <div class="ot-button">
                  <a href="/contact" class="octf-btn octf-btn-light border-hover-light">get in touch</a>
              </div>
          </div>
      </div>
  </div>
</section>
