<section class="testi-2 bg-dark-theratio">
  <div class="container">
      <div class="row m-0">
          <div class="studio-testi-slide s-light mb-5 mb-xl-0">
              <div class="studio-testi-slide-block z-index-2 position-relative">
                  <div class="ot-heading is-dots s-light">
                      <span>[ testimonials ]</span>
                      <h2 class="main-heading">What People Say</h2>
                  </div>
                  <div class="ot-testimonials v-dark">
                      <div class="testimonials-slide-2 ot-testimonials-slider-s2 owl-theme owl-carousel">
                          <div class="testi-item">
                              <div class="ttext">
                                  “I have very much enjoyed with your services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.”
                              </div>
                              <div class="t-head flex-middle">
                                  <div class="tinfo">
                                      <h5>Kristina Lee</h5>
                                      <span>Client of Company</span>
                                  </div>
                              </div>
                          </div>
                          <div class="testi-item">
                              <div class="ttext">
                                  “You will never fake the feeling of being in such a place. The live minimalism base on the natural materials and alive unprocessed textures — true, authentic, close to nature. It has memory and appreciates to the culture, roots, archetypes.”
                              </div>
                              <div class="t-head flex-middle">
                                  <div class="tinfo">
                                      <h5>Pablo Gusterio</h5>
                                      <span>Client of Company</span>
                                  </div>
                              </div>
                          </div>
                          <div class="testi-item">
                              <div class="ttext">
                                  I’m always impressed with the services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.”
                              </div>
                              <div class="t-head flex-middle">
                                  <div class="tinfo">
                                      <h5>Anna Paulina</h5>
                                      <span>Client of Company</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="studio-testi-img text-center">
              <div class="studio-testi-img-block z-index-1">
                  <img src="https://via.placeholder.com/640x575.png" alt="">
              </div>
          </div>
      </div>
  </div>
</section>
