
            <section class="pb-0 pt-xl-0">
              <div class="container">
                  <div class="row mt-xl--40 justify-content-center">
                      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mb-lg-0">
                          <div class="ot-features-box max-w-350 mx-auto">
                              <div class="features-image">
                                  <a href="#">
                                      <span class="overlay flex-middle"><i class="ot-flaticon-add"></i></span>
                                      <img src="assets/images/5.jpg" alt="">
                                  </a>
                              </div>
                              <div class="features-content">
                                  <h6><a href="#"><span>01.</span> Quality Furniture</a></h6>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mb-lg-0">
                          <div class="ot-features-box max-w-350 mx-auto">
                              <div class="features-image">
                                  <a href="#">
                                      <span class="overlay flex-middle"><i class="ot-flaticon-add"></i></span>
                                      <img src="assets/images/4.jpg" alt="">
                                  </a>
                              </div>
                              <div class="features-content">
                                  <h6><a href="#"><span>02.</span> Unique Concept</a></h6>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mb-lg-0">
                          <div class="ot-features-box max-w-350 mx-auto">
                              <div class="features-image">
                                  <a href="#">
                                      <span class="overlay flex-middle"><i class="ot-flaticon-add"></i></span>
                                      <img src="assets/images/6.jpg" alt="">
                                  </a>
                              </div>
                              <div class="features-content">
                                  <h6><a href="#"><span>03.</span> Attention to Details</a></h6>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
