


<section class="our-philosophy">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 theratio-align-center text-center">
              <div class="ot-heading is-dots">
                  <span>[ company strategy ]</span>
                  <h2 class="main-heading text-light">Our Philosophy</h2>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-5 mb-xl-0">
              <div class="support-box">
                  <div class="inner-box">
                      <div class="overlay flex-middle">
                          <div class="inner">
                              <p>We call our style ‘live minimalism’. Live minimalism is not about a or visual look. It refers to inner feelings, to your true self.</p>
                          </div>
                      </div>
                      <div class="content-box">
                          <img src="assets/images/mission.webp" alt="">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-5 mb-xl-0">
              <div class="support-box">
                  <div class="inner-box">
                      <div class="overlay flex-middle">
                          <div class="inner">
                              <p>We call our style ‘live minimalism’. Live minimalism is not about a or visual look. It refers to inner feelings, to your true self.</p>
                          </div>
                      </div>
                      <div class="content-box">
                          <img src="assets/images/vission.webp" class="" alt="">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <div class="support-box">
                  <div class="inner-box">
                      <div class="overlay flex-middle">
                          <div class="inner">
                              <p>We call our style ‘live minimalism’. Live minimalism is not about a or visual look. It refers to inner feelings, to your true self.</p>
                          </div>
                      </div>
                      <div class="content-box">
                          <img src="assets/images/values.webp" class="attachment-full size-full lazyloaded" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



